
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="mystyle.css">
</head>
<script>
  const firstNumber = 3;
  const secondNumber = 4;
  console.log("Question 1: Condition Logic ============================");
  // make the system console.log('here') by putting it in the right portion
  if (firstNumber === 3 && secondNumber < 5) {
    console.log('here');
  } else if (firstNumber > secondNumber ) {
    // This is the wrong portion
  }



  console.log("Question 2: OR Gates ===================================");
  // make an if statement that uses or - ||
  //if () {
  //  console.log('an or statement was used!');
  //}
  if (firstNumber === 2 || secondNumber === 4) {
    console.log('This is statement is true');
  } else {
    console.log('Yeah sorry - wrong')
  }



  console.log("Question 3: Array Index ================================");
  // console.log the third item from this array. 
  // You access items in the square brackets with numbers - array[3]
  // The first item starts at 0
  const someArray = ['hello', 'I am', 'learning', 'javascript'];

 for (let i = 0; i < someArray.length; i++) {
   console.log(someArray[i]);
  }

  console.log("Question 4: Array Index Part 2 =========================");
  // log the first and fourth item from secondArray
  const secondArray = ['bill', 'ben', 'flower', 'pot', 'men'];

  for (let i = 0; i < secondArray.length; i++) {
    console.log(secondArray[0] + " " + secondArray[3]);
  }

  console.log("Question 5: For loops incrementation ===================");
  // finish this loop that logs the incrementor
  //for (let; 10; ++) {
  //  console.log(inc);
  //}
  for (let i = 0; i <= 10; i++) {
    console.log(i);
  }

  console.log("Question 6: Array printing =============================");
  // create a constant array with 5 elements in it
  // the for after it should print all of the elements
  // replace ?? with your array name

  // for (let i = 0; i < ??; i++) {
  //   console.log(??[i])
  // }

  const constantArray = ['Adil', 'David', 'Nicole', 'Harry', 'Peter'];
  
  for (let i = 0; i < constantArray.length; i++) {
    console.log(constantArray[i]);
  }

  console.log("Question 7: Array manipulation =========================");
  // go through 'doubleArr' and print out the item * 2
  const doubleArr = [1,2,3,4,5,6];

  for (let i = 0; i < doubleArr.length; i++) {
    console.log(doubleArr[i]*2);
  }


  console.log("Question 8: While loops ================================");
  // use the variable counter to make a while loop that loops 25 times
  // and console.log's if the number is odd or even
  // tip: use modulus '%' to find factors of 2
  let counter = 1;



  // [Hard]
  console.log("HARD Question 9: Array declaration and manipulation ====");
  // create an array, loop through it and log the item, log the item squared
  // to raise to the power, use **



  // [Hard]
  console.log("HARD Question 10: Further loop logic ====================");
  // use a loop to add items to a 'let' variable, total
  let total = 0;
  // loop here, then print total after

  console.log(total);


  // [Advanced]
  console.log("ADVANCED Question 11: Factorial ========================");
  // use a loop to calculate numbers multiplied by the previous one.
  // hint: start total at 1


  

</script>
<body>
  
  
</body>
</html>