html, body, #react, .layout, .page {
  min-height: 100vh;
}

.page-hero {
  filter: contrast(110%);
}

.page-hero > img {
  visibility: hidden;
}

.page-title {
  font-weight: 300;
  color: white;
  display: inline-block;
  padding: 12px 24px;
  margin-top: 16px;
  background-color: rgba(0,0,0,0.6);
}