html, body, #react, .layout, .page {
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

.page-hero {
  filter: contrast(110%);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.page-hero > img {
  visibility: hidden;
}

.page-title {
  font-weight: 300;
  color: white;
  display: inline-block;
  padding: 12px 24px;
  margin-top: 16px;
  background-color: rgba(0,0,0,0.6);
  font-size: 3.7em;
}

.footer {
  padding: 12px;
}

.hero-video {
  height: 600px;
  width: 100%;
  object-fit: cover;
  object-position: bottom;
  filter: brightness(60%);
}

.video-container {
  overflow: hidden;
}

p>a>img {
  margin: 0 auto;
  display: block;
  max-width: 100%;
}

.navbar+.page {
  padding-top: 56px;
}

.navbar-fixed-top {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
}

.table .thead-dark th {
  color: #fff;
  background-color: #343a40;
  border-color: #32383e;
}

.info-card {
  text-align: center;
}

.video-container {
  position: relative;
}

.hero-video {
  vertical-align: middle;
}

.video-overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  padding: 24px;
}

.dark-row img {
  padding: 16px;
}

@media screen and (max-width: 768px) {
  .page-hero {
    text-align: center;
  }
}