html, body, #react, .layout, .page {
  min-height: 100vh;
}

.page-hero {
  display: block;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
  background-size: contain;
}

.page-hero > img {
  visibility: hidden;
}

.page-title {
  color: #fff;
  font-weight: 300;
}